---
import BaseLayout from '../layouts/BaseLayout.astro';
import PageLoader from '../components/PageLoader.astro';
import Navbar from '../components/Navbar.astro';
import AboutView from '../components/AboutView.astro';
import Modals from '../components/Modals.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout activeView="about" title="关于我们 - ErisPulse">
  <PageLoader />
  <Navbar activeView="about" />
  
  <main class="main-content">
    <AboutView activeView="about" />
    <Modals />
  </main>

  <Footer />
</BaseLayout>
