---
---
<footer>
  <img class="footer-chan" src="/assets/img/ep_chan.png" alt="" loading="lazy">
  <div class="container">
    <div class="footer-content">
      <div class="footer-column">
        <h3>ErisPulse</h3>
        <ul class="footer-links">
          <li><a href="https://github.com/ErisPulse/ErisPulse"><i class="fas fa-home"></i> <span data-i18n="footer.home">项目主页</span></a></li>
          <li><a href="/docs"><i class="fas fa-book"></i> <span data-i18n="footer.docs">使用文档</span></a></li>
          <li><a href="/legacy_mods.html" class="footer-legacy-link" style="opacity: 0.5; font-size: 0.85rem;"><i class="fas fa-history"></i> <span data-i18n="market.legacy">查看 1.x 模块源 [已废弃]</span></a></li>
        </ul>
      </div>

      <div class="footer-column">
        <h3 data-i18n="footer.contribute">贡献与开发</h3>
        <ul class="footer-links">
          <li><a href="https://github.com/ErisPulse/ErisPulse/issues"><i class="fas fa-code"></i>
              <span data-i18n="footer.issue">报告Issue</span></a></li>
          <li><a href="https://github.com/ErisPulse/ErisPulse/pulls"><i class="fas fa-code-branch"></i>
              <span data-i18n="footer.pr">提交PR</span></a></li>
          <li><a href="https://github.com/ErisPulse/ErisPulse/discussions"><i class="fas fa-comments"></i>
              <span data-i18n="footer.discussions">讨论区</span></a></li>
        </ul>
      </div>

      <div class="footer-column">
        <h3 data-i18n="footer.social">社交平台</h3>
        <ul class="footer-links">
          <li><a href="https://qm.qq.com/q/TOwnCmypcy"><i class="fab fa-qq"></i> QQ</a></li>
          <li><a href="https://github.com/ErisPulse"><i class="fab fa-github"></i> GitHub</a></li>
          <li><a href="https://t.me/ErisPulse"><i class="fab fa-telegram"></i> Telegram</a></li>
          <li><a href="https://yhfx.jwznb.com/share?key=mr0vMbXhKJGt&ts=1770192749"><img src="/assets/img/yunhu.png" alt="云湖" width="20" height="20"> 云湖</a></li>
        </ul>
      </div>
    </div>

    <div class="copyright">
      &copy; 2026 ErisPulse Project | <span data-i18n="footer.copyright">开源许可证：MIT</span>
    </div>
  </div>
</footer>
